---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import BlogHead from '../components/BlogHead.astro';

const { content } = Astro.props;

---

<html>
  <head>
    <title>{content.title}</title>
    <MainHead title={content.title} description={content.description} image={content.image} canonicalURL={Astro.request.canonicalURL} />
    <style lang="scss">
      .blog-wrapper {
        padding: 35px 40px;
        margin-top: 30px;
        margin-bottom: 80px;
        background-color: var(--item-bg-color);
        border-radius: 4px;
        box-shadow: var(--button-shadow);
        color: var(--light-grey);
        font-size: var(--p-text-size);
      }

      .title {
        margin-bottom: 50px;
        padding-top: 25px;
      }

      .description {
        margin-bottom: 4rem;
        font-weight: 400;
        text-align: justify;
        text-transform: uppercase;
      }

      .img {
        display: block;
        width: 100%;
        height: auto;
      }

      .article {
        margin-top: 4rem;
        margin-bottom: 6rem;
        line-height: 2;

        :global(p) {
          margin-top: 2em;
          margin-bottom: 2em;
        }

        :global(h2,h3,h4) {
          color: var(--light-blue);
        }
      }

      .footer {
        margin-bottom: 6rem;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <Nav />

    <main class="wrapper">
    <div class="blog-wrapper">
        <BlogHead blog={content} />
        <img class="img" src={content.image} alt="">
        <article class="article">
          <slot />
        </article>
        <footer class="footer">
          <a class="posts" href="/blog">All Posts</a>
        </footer>
      </div>
    </main>
  </body>
</html>
